!!!
%html
  %head
    %title TheRoleTestcase
    = stylesheet_link_tag    :application
    = javascript_include_tag :application
    = stylesheet_link_tag "http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css"

    = csrf_meta_tags

    = yield :js 
    = yield :css 

  %body
    .container
      .row
        .col-md-12.header
          %h2 TheRole - Authorization Gem for Ruby on Rails with administrative interface.
          %h3 Semantic, Flexible, Lightweight

      .row
        .col-md-3.manage_panel
          = yield :role_sidebar

          %h4 Basic links

          %ul
            %li= link_to 'Home',         root_path
            %li= link_to 'pages/index',  pages_path
            %li= link_to 'pages/manage', manage_pages_path
            %li= link_to 'pages/my',     my_pages_path
            %li= link_to 'admin/roles',  admin_roles_path
          
          = render :partial => 'layouts/current_user_info'

        .col-md-9.main_content
          - if flash[:notice]
            .alert.alert-success
              %a.close{:href => '#', 'data-dismiss' => :alert } &times;
              = flash[:notice]

          - if flash[:error]
            .alert.alert-danger
              %a.close{:href => '#', 'data-dismiss' => :alert } &times;
              = flash[:error]
          
          = yield
          = yield :role_main

      .row
        .col-md-3
          %p
            = link_to 'TheRole 2', 'https://github.com/the-teacher/the_role'
        .col-md-9
          %p
            = link_to 'en', '/?locale=en'
            \|
            = link_to 'ru', '/?locale=ru'
            \|
            = link_to 'es', '/?locale=es'
            \|
            = link_to 'zh_CN', '/?locale=zh_CN'
            \|
            = link_to 'pl', '/?locale=pl'
            \|
            %b
              = t '.current_locale'
              = I18n.locale