%h2 Current user

%p
  - if user_signed_in?
    %p
      %b{ style: "color:green" }= current_user.name
    %p
      %i role: #{current_user.role.name}
      \|
      = link_to "Sign out", destroy_user_session_path, :method => :delete
  - else
    %p
      %i Guest
    %p
      = link_to "Sign in", new_user_session_path
      \|
      = link_to "Sign up", new_user_registration_path