!!!
%html
  %head
    %title TheRoleTestcase
    = stylesheet_link_tag    "application" 
    = javascript_include_tag "application" 
    = csrf_meta_tags 
    = yield :js 
    = yield :css 
    
  %body
    = yield 
    %p
      = link_to 'en', '/?locale=en'
      \|
      = link_to 'ru', '/?locale=ru'
      \|
      = link_to 'es', '/?locale=es'
      \|
      = link_to 'zh_CN', '/?locale=zh_CN'
      \|
      %b
        = t '.current_locale'
        = I18n.locale