- content_for :role_sidebar do
  .panel.panel-primary
    .panel-heading Role Nav
    .panel-body
      %h5= link_to raw('&larr; Home'), root_path

  .panel.panel-primary
    .panel-heading= t '.roles_list'
    .panel-body
  
      - (@roles || Role.all).each do |role|
        %p
          = link_to role.title, edit_admin_role_url(role)
          (#{role.users.count})
          = link_to admin_role_url(role), method: :delete, title: role.title, confirm: t('.delete_role_confirm'), class: :delete do
            %i.icon-remove.glyphicon.glyphicon-remove

      %p.new= link_to t('.new_role'),  new_admin_role_path