- content_for :js do
  = stylesheet_link_tag   'the_role/style'
  = stylesheet_link_tag   'the_role/headers'
  = stylesheet_link_tag   'the_role/form'

%p= link_to 'index r', admin_roles_path
%p= link_to 'new r',   new_admin_role_path
%p= link_to 'edit r',  edit_admin_role_path(Role.first)
%p= link_to 'show r',  admin_role_path(Role.first)

= form_tag(admin_role_path(Role.first), :method => :put) do
  = submit_tag 'update'

= form_tag(admin_role_path(Role.first), :method => :delete) do
  = submit_tag 'delete'


-#%p= link_to 'rm r', delete_admin_role_path(Role.first, :method => :delete)

-#
  .the_role
    %h3= t('.list')
    %ul.index
      - @roles.each do |role|
        %li
          %p
            = link_to role.title, edit_admin_role_url(role)
            = link_to t('.delete') + role.title , admin_role_url(role), :method => :delete, :confirm => t('the_role.delete_role'), :class => :delete

    %p= link_to t('.new'),  new_admin_role_path
