= render partial: 'sidebar'

- content_for :role_main do
  - unless @role.errors.blank?
    - @role.errors.each do |field, message|
      .alert.alert-danger
        %b= t(".#{field}")
        \:
        = message

  .panel.panel-success
    .panel-heading= raw t('.create')

    .panel-body
      = form_for(@role, url: admin_roles_path, role: :form) do |f|
        %label= t('.name')
        %p= f.text_field :name, class: "form-control"

        %label= t('.title')
        %p= f.text_field :title, class: "form-control"

        %label= t('.description')
        %p= f.text_field :description, class: "form-control"

        = f.submit t('.create'), class: "btn btn-success"