%h1 Users info

%ol
  - User.all.each do |user|
    %li
      %b= user.name
      \-
      - if user.role
        %b role: #{user.role.name}
      - else
        %b User has not role
      \-
      |
      = link_to 'Login now!', autologin_path(:email => user.email)
%p
  %b password:
  %i qwerty

%h1 Edit Users

%ol
  - User.all.each do |user|
    - if user.role
      %li= link_to "Edit user: #{user.name} [#{user.role.name}]",  edit_user_path(user)
    - else
      %li User #{user.name} has not role

%h1 Roles info

%ol
  - Role.all.each do |role|
    %li
      %b= role.name
      \-
      %i= role.description
      \-
      - users_list = role.users.map(&:name).join(', ')
      %b users: [#{users_list}]