!!!
%html
  %head
    %title= yield(:title)
    = stylesheet_link_tag   'the_role/reset'
    = stylesheet_link_tag   'the_role/style'
    = stylesheet_link_tag   'the_role/headers'
    = stylesheet_link_tag   'the_role/form'

    = javascript_include_tag :jquery
    = javascript_include_tag :jquery_ujs
    = csrf_meta_tags

  %body
    .body= yield